body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    text-align: center;
}

.light-mode {
    background: #fff;
    color: #000;
}

.tactical-mode {
    background: #0b3d02;
    color: #d4ffbf;
}

/* Tryb dark/light */
button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #ff0000;
    color: white;
}

button:hover {
    background: #800080;
}

/* Galeria */
.swiper-slide img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.swiper-slide img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.star {
    font-size: 24px;
    color: gray;
    cursor: pointer;
}

.star:hover, .star.active {
    color: gold;
}